Umrah and Hajj  AI Assistant.json
{
  "name": "Umrah and Hajj  AI Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1uzphV9hQxvu8qZw2LGDh-AgHFvL5y-nf",
          "mode": "list",
          "cachedResultName": "rag example",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uzphV9hQxvu8qZw2LGDh-AgHFvL5y-nf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        -176
      ],
      "id": "8b793334-b546-4087-a715-a821d1cd156a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eWr8nWJTDi44UoDx",
          "name": "my google drive OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1088,
        -176
      ],
      "id": "2cf5926b-2b10-4d0e-b8a1-dddd941452da",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eWr8nWJTDi44UoDx",
          "name": "my google drive OAuth"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -912,
        -176
      ],
      "id": "256e7a22-cddc-48c9-979c-966945bcb06a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SQMtbQe4HQCrGEcY",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -848,
        -16
      ],
      "id": "0d7c6701-004e-49e0-af83-9281fe3bac75",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        -16
      ],
      "id": "338c2deb-8198-4b5d-b1b0-511a6216eb63",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "c1mnpLCFDrMfhozY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=#overview\nyou are a helpful intelligent information extracting assistent that helps answers any queries that comes to you\n\n#tools \nvector_store -This will ALWAYS be used when answeing any questions that the user might have.\n\n#rules\nyou must ALWAYS pull information from the vector_store.\nyour answer need to be concise and to the point."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -992,
        176
      ],
      "id": "3f0e8123-b4e4-4826-ad22-a18e1156cdc0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1088,
        416
      ],
      "id": "0fdf41dd-f6c5-44a4-8426-842704529f46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c1mnpLCFDrMfhozY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -928,
        400
      ],
      "id": "d9bab3a4-d220-4f69-aba9-96e91d8880ad",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with data from the supabase vector database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -816,
        336
      ],
      "id": "23276aca-0ced-482c-ba21-b98aa3dc4f1a",
      "name": "vector_store",
      "credentials": {
        "supabaseApi": {
          "id": "SQMtbQe4HQCrGEcY",
          "name": "Supabase account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        464
      ],
      "id": "72c64ef0-acea-4c1a-a41e-7d974111091f",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "c1mnpLCFDrMfhozY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        -224
      ],
      "typeVersion": 1,
      "id": "25223181-edbe-4b19-9cd6-5da677887b0d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 976,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        128
      ],
      "typeVersion": 1,
      "id": "a06d1b31-1eeb-47b9-b2ad-c31c3f5b1719",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1200,
        176
      ],
      "id": "92f6d41a-da1d-4803-9ebf-a6693e4fe1f4",
      "name": "When chat message received",
      "webhookId": "b7c56d59-f2e9-41c6-b7f7-528ad5b74b7b"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "vector_store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38ded096-f697-4e9c-b4f0-30775e4b72d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e4ca853844ce87e60f37d1f382e216218c787a92f80ab9c0367280d6c95a626"
  },
  "id": "jnETZOAt41RSyU5I",
  "tags": []
}